{% extends 'NavBar/RestaurantNavBar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order Submitted!</h1>
            <p>You should receive a confirmation email soon.</p>
            <a href="{% url 'customer:order' %}">Go Back</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">Order Summary:</h3>
            {% for item in items %}
                <p>{{ item.name }} <span class="pl-3">{{ item.price }}</span></p>
            {% endfor %}

            <p class="font-weight-bold pt-4">Total: {{ price }}</p>
        </div>

    </div>
   <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <center>
          <a href="{% url 'customer:Cash' %}">
          <button type="button" class="btn btn-dark btn-lg btn-block">Pay with Cash</button>
        </a>
        <a href="{% url 'customer:Online' %}">
          <button type="button" class="btn btn-primary btn-lg btn-block">Pay Online</button>
        </a>
     </center>
    </div>
  </div>
</div>
</div>
{% endblock %}
</body>
</html>